{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Muhammet Karahan</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body>




	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/avatar.jpg' %}">
					<hr>
					<h4>Merhaba, Ben Muhammet</h4>
					<p>Kodlamayı, araştırma yapmayı ve iş birliği yapmayı seviyorum</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<div class="content">

					</div>
					<h4>Hakkımda</h4>
					<hr>
					<p>
						Merhaba! Ben Muhammet Karahan. Yazılım geliştirme konusunda tutkulu biriyim ve NEOS YAZILIM AKADEMİSİ programından başarılı bir şekilde mezun oldum. HTML, CSS, React ve Python gibi teknolojileri kullanarak geniş bir yelpazede projeler geliştirdim.

						Eğitimim sırasında HTML ve CSS ile web tasarımı konusunda temel becerilerimi geliştirdim. Ardından, React ile modern web uygulamaları geliştirme üzerine odaklandım ve kullanıcı dostu arayüzler oluşturmayı öğrendim. Ayrıca, Python ile veri bilimi ve yapay zeka gibi alanlarda temel yetkinlikler edindim.
						
						Problem çözme becerilerim ve analitik düşünme yeteneğim, karmaşık projelerde başarılı olmamı sağlıyor. Ayrıca, takım çalışması konusundaki yetkinliğim sayesinde farklı disiplinlerden gelen ekiplerle uyumlu bir şekilde çalışabiliyorum.
						
						Yazılım dünyasındaki hızla değişen trendleri takip etmek ve yeni teknolojilere adapte olmak benim için heyecan verici bir süreç. Bu nedenle, sürekli olarak kendimi güncel tutmaya ve yeni şeyler öğrenmeye önem veriyorum.
						
						Amacım, yaratıcı ve yenilikçi çözümler üreterek kullanıcı deneyimini geliştirmek ve topluma değer katmaktır. Bu doğrultuda, her yeni projeye bir öğrenme ve büyüme fırsatı olarak bakıyorum.
						
						Yazılım dünyasında kendimi kanıtlamak ve bu alanda kariyerimi ilerletmek için heyecanla yeni fırsatlar arıyorum. Siz de projelerinizde birlikte çalışmak isterseniz, benimle iletişime geçmekten çekinmeyin!</p>

					<ul class="social-links">
						
						<li><a href="https://www.linkedin.com/in/muhammet-karahan-8593242a4/"><ion-icon size="large" name="logo-linkedin"></ion-icon></ion-icon></a></li>
					
						<li><a href="https://github.com/Mami-13"><ion-icon size="large" name="logo-github"></ion-icon></ion-icon></a></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Geliştirici Olarak Tecrübelerim</h5>
					<hr>
					<p>Yazılım geliştirme alanında NEOS YAZILIM AKADEMİ programından mezun oldum ve HTML, CSS, React ve Python gibi teknolojilere hakimim. Karmaşık projelerde çalışma deneyimim ve takım çalışması yeteneğimle projelerde etkili bir şekilde yer alıyorum..</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Neler Biliyorum</h5>
					<hr>
					<p>Python, Django, HTML/CSS, JavaScript/Jquery, React, </p>
					
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Nasıl Öğrendim</h5>
					<hr>
					<p>Yazılım eğitimlerimi çeşitli çevrimiçi platformlar ve kaynaklar aracılığıyla öğrendim. Kendi başıma çalışarak ve projeler geliştirerek pratik tecrübe kazandım..</p>

				
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Hedefim Neler</h5>
					<hr>
					<p>Hedefim, gelişen dünyanın yapay zekasına katkıda bulunarak teknolojinin ilerlemesine destek olmak. Yapay zeka alanındaki yenilikçi projelerde yer alarak insanlığın yaşam kalitesini artırmaya yönelik çözümler üretmek istiyorum. Ayrıca, savunma sanayisinde ülkem için çalışarak, ulusal güvenliğimize katkı sağlamak ve teknolojik açıdan güçlü bir ülke olma hedefimize ulaşmada rol oynamak istiyorum. Bu doğrultuda, bilgi birikimimi ve deneyimimi kullanarak ülkeme ve insanlığa faydalı olabilecek projelerde aktif olarak yer almayı amaçlıyorum.

					</p>
				

				</div>
			</div>
		</div>
		<br>
	</div>


</body>

</html>